/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/


/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }
html,

* {
    margin: 0px;
    padding:0px;
}
header {
  
    justify-content: left;

    top: 15px;
    left: 15px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 0px;
    z-index: 10;
    background-color:white;
   
}


body {
    margin:0;
    height: 100%;
    font-family: popins,sansarif;
    font-weight: 350;
    font-size: 1.9rem;
    line-height: 1.1;
    color: blue;
    background-color: pink;
}

a{
  color:blue;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

nav, li {
    list-style: none;
}
.c-site-header a {
    text-decoration: none;
    color: blue;

}

.nav-list a {
    display: block;
    font-size: 2.5rem;
    padding: 1.3rem;
}
.home-section {
    display: flex;
    flex-wrap: wrap;
    background-color:pink;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:95px;
    width: 95%;
    height: auto;
    padding: 3rem 2rem;
}
.home-text{
    margin-right:20px;
}
.home-text a{
    color:blue;
    text-align:center;
    text-decoration:underline;
}
.about-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: pink;
    height: auto;
    font-size: 30px;
    text-align: justify;
    padding: 15rem 2rem;
    align-items: center;
    position:relative;
    top:-40ch;
   
}
.about-text {
    width: 900px;

}
.about-text h3 {
        font-size: 40px;
        font-weight: 700;
        color: blue;
        max-width: 700px;
        margin: 0 auto 2rem auto;
        border-bottom: 0.1rem solid blue;
    }
.contact-section {
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0px 2rem;
    background-color:steelblue;
}
projects-section {
   
    background-color: white;
    text-align: center;
 
    padding:10rem 2rem;
}
#previous-img-cyf{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    display: flex;
    position: absolute;
    left: 64ch;
    top:370ch;
}
#p-cyf{
    font-size: 40px;
    font-weight: 700;
    color: blue;
    max-width: 700px;
    margin: 0 auto 2rem auto;
    border-bottom: 0.1rem solid blue;
    position: absolute;
    left:30ch;
    top:120ch;
}
#exhibition-cyf{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300;
    height:300;
    position: absolute;
    left: 42ch;
    top:170ch;
}
#next-img-cyf{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    position: absolute;
    left: 180ch;
    top:370ch;
    
}
.projects-section-header {
    max-width: 700px;
    position:relative;
    top:50ch;
    margin: 2rem auto 3rem auto;
    border-bottom: 0.1rem solid blue;
}
.project-lists{
    margin-bottom:15px;
}
iframe{
  position:relative;
  top:60ch;
  left:630px;
  width: 33vw;
  height: 20vw;

}
.c-site-footer{
  position: relative;
  bottom: -70ch;
  background-color:white;
  text-align:center;
  
}
